<a href="https://colab.research.google.com/github/egabrielvice/DATA602_ipynb/blob/1/assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment #1

**Name:** Escarlet Gabriel Vicente

**Course:** DATA 602 â€“ M.S. Data Science

**Instructor:** Professor Schettini

# Q1

In [ ]:
numbers = [10, 20, 30, 40, 50]
print(numbers[:])

[10, 20, 30, 40, 50]

# Q2

In [ ]:
sales = []

days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

for day in days:
    amount = float(input(f"Enter sales for {day}: "))
    sales.append(amount)

total = sum(sales)

print("Q2 Output: Total sales for the week:", total)

Enter sales for Monday: 10
Enter sales for Tuesday: 20
Enter sales for Wednesday: 30
Enter sales for Thursday: 10
Enter sales for Friday: 20
Enter sales for Saturday: 30
Enter sales for Sunday: 10
Q2 Output: Total sales for the week: 130.0

# Q3

In [ ]:
places = ["Japan", "Brazil", "Iceland", "Morocco", "Canada"]

print("Q3 Output - Original list:", places)

places.sort()
print("Q3 Output - Sorted list:", places)

places.sort(reverse=True)
print("Q3 Output - Reverse sorted list:", places)

Q3 Output - Original list: ['Japan', 'Brazil', 'Iceland', 'Morocco', 'Canada']
Q3 Output - Sorted list: ['Brazil', 'Canada', 'Iceland', 'Japan', 'Morocco']
Q3 Output - Reverse sorted list: ['Morocco', 'Japan', 'Iceland', 'Canada', 'Brazil']

# Q4

In [ ]:
course_rooms = {
    "CS101": "Room 3004",
    "CS102": "Room 4501",
    "CS103": "Room 6755"
}

course_instructors = {
    "CS101": "Dr. Smith",
    "CS102": "Prof. Allen",
    "CS103": "Dr. Johnson"
}

course_times = {
    "CS101": "8:00 AM",
    "CS102": "10:00 AM",
    "CS103": "2:00 PM"
}

course = "CS101"

print("Q4 Output - Room:", course_rooms[course])
print("Q4 Output - Instructor:", course_instructors[course])
print("Q4 Output - Time:", course_times[course])

Q4 Output - Room: Room 3004
Q4 Output - Instructor: Dr. Smith
Q4 Output - Time: 8:00 AM